<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="height: min-content;">
            <div class="ml-5 p-0 filter" style="position: fixed;">
                <app-filter-movie></app-filter-movie>
            </div>
        </div>

        <div class="col-sm-10 col-md-9 mt-5" style="text-align: center;"> 
            <!-- //offset-sm-1 offset-md-2 -->
            <div class="row justify-content-center align-items-center">
                <app-movie class="col-sm-4 col-md-3 m-2 p-3 zebra-card" *ngFor="let movie of (movies | filterMovie: filterObject)" [movie]="movie"></app-movie>
            </div>
        </div>
    </div>
</div>