<div>
    <h2 class="m-5 p-0" style="text-align: center;">Filters</h2>

    <div class="form-group p-4 m-0">
        <label>Title:</label>
        <input type="text" class="form-control" placeholder="Search movie by phrase" [(ngModel)]="filterObject.title" (input)="sendFilters()" />
    </div>

    <div class="form-group p-4 m-0">
        <label for="MovieGenre">Genre</label>
        <select class="form-control" id="genre" [(ngModel)]="filterObject.genre" (input)="sendFilters()">
            <option>All</option>
            <option *ngFor="let option of allOptions" [value]="option">{{translate(option)}}</option>
        </select>
    </div>

    <div class="form-group p-4 m-0 custom-slider" style="margin-left: 50px; margin-right: 50px;">
        <label>Rating:</label>
        <ngx-slider [(value)]="filterObject.rate.min" [(highValue)]="filterObject.rate.max" [options]="rateOptions" (userChange)="sendFilters()"></ngx-slider>
    </div>

    <div class="form-group p-4 m-0 custom-slider" style="margin-left: 50px; margin-right: 50px;">
        <label>Duration time:</label>
        <ngx-slider [(value)]="filterObject.durationTime.min" [(highValue)]="filterObject.durationTime.max" [options]="durationTimeOptions" (userChange)="sendFilters()"></ngx-slider>
    </div>
    
    <div class="text-center m-5">
        <button type="button" class="btn btn-dark" (click)="clear()">Reset Filters</button>
    </div>
</div>