/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';


* {
    box-sizing: border-box;
}

body {
    // background-color: #0e131b;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-snackbar {
    background: green;
    color: white;
}

.failure-snackbar {
    background: red;
    color: white;
}
