<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/movies" href="#">Movies</a>
        </li>
        <li class="nav-item" *ngIf="isLogged()">
          <a class="nav-link" routerLink="/reservations" href="#">MyReservations</a>
        </li>
      </ul>

      <ul *ngIf="!isLogged()" class="nav navbar-nav flex-row justify-content-between ml-auto">
        <li class="pr-3">
            <button type="button" class="btn btn-secondary" (click)="login()">Login</button>
        </li>
        <li>
          <button type="button" class="btn btn-secondary" (click)="register()">Sign up</button>
        </li>
    </ul>

    <ul *ngIf="isLogged()" class="nav navbar-nav flex-row justify-content-between ml-auto">
      <li class="dropdown pr-3">
          <button type="button" data-toggle="dropdown" class="btn btn-secondary dropdown-toggle">Account</button>
          <ul class="dropdown-menu dropdown-menu-right mt-2">
              <li class="px-3 py-2 account">
                  username: <b>{{ getUsername() }}</b>
                  <hr>
              </li>
              <li class="px-3 py-2 text-center account">
                <button type="button" class="btn btn-outline-secondary" (click)="logout()">Log out</button>
            </li>
          </ul>
      </li>
    </ul>
    </div>
  </nav>