<div class="loginBox">
    <h3>Log in</h3>
    <!-- <p style="color: green; text-align: center;">{{ registerInfo }}</p> -->
    <form class="m-3" [formGroup]="modelForm" novalidate>

        <div class="container">
            <div class="row">
                <div class="col-md-6" style="background-color: white;">
                    <div class="form-group">
                        <div formArrayName="seances">
                            <div *ngFor="let seance of seances.controls; index as i">
                                <div class="row" [formGroupName]="i">
                                
                                    <div class="col-md-4 form-group">
                                        <label>Screening Room</label>
                                        <select class="form-control" formControlName="screeningRoom" [ngClass]="{
                                            'is-valid': seance.get('screeningRoom')?.valid && seance.get('screeningRoom')?.dirty,
                                            'is-invalid': seance.get('screeningRoom')?.invalid && seance.get('screeningRoom')?.dirty}">
                                            <option *ngFor="let option of allScreeningRoomOptions" [value]="option">{{option}}</option>
                                        </select>

                                        <div class="error" *ngIf="validations[i].screeningRoomInvalid">
                                            <p>{{validations[i].screeningRoomError}}</p>
                                        </div>
                                        <div class="error" *ngIf="validations[i].hourInvalid">
                                            <p>{{validations[i].hourError}}</p>
                                        </div>
                                    </div>
                                
                                    <div class="col-md-4 form-group">
                                        <label>Date</label>
                                        <input type="text"
                                             placeholder="Datepicker"
                                             class="form-control"
                                             bsDatepicker
                                             formControlName="time">
                                    </div>

                                    <div class="col-md-4 form-group mt-1">
                                        <timepicker formControlName="time" [showMeridian]="false" [minuteStep]="1"></timepicker>
                                    </div>
                                </div>

                            </div>
                        </div>

                        
                    </div>

                    <div class="text-center m-5">
                        <button type="button" class="btn btn-dark" (click)="checkAddingNewSeance()">Add Another Seance</button>
                    </div>

                </div>
            </div>
        </div>

    </form>
</div>  