<div class="loginBox">
    <h3>Log in</h3>
    <!-- <p style="color: green; text-align: center;">{{ registerInfo }}</p> -->
    <form class="m-3" [formGroup]="modelForm" novalidate>

        <div class="container">
            <div class="row">
                <div class="col-md-6" style="background-color: white;">
                    <div class="form-group">
                        <label>Title:</label>
                        <input class="form-control" formControlName="title" type="text" placeholder="Enter your title" [ngClass]="{
                            'is-valid': modelForm.get('title')?.valid && modelForm.get('title')?.dirty,
                            'is-invalid': modelForm.get('title')?.invalid && modelForm.get('title')?.dirty}">
                        <div class="invalid-feedback" style="min-width: 300px;" *ngIf="modelForm.get('title')?.invalid && modelForm.get('title')?.dirty">
                            <p *ngIf="modelForm.get('title')?.errors?.required">title is required!</p>
                            <p *ngIf="modelForm.get('title')?.errors?.minlength">title has at least 5 characters!</p>
                        </div>
                    </div>

                    <div class="form-group">

                        <div formArrayName="seances">
                            <div *ngFor="let seance of seances.controls; index as i">



                                <div class="row" [formGroupName]="i">
                                    <div class="col-md-4 form-group">
                                
                                        <label>Screening Room</label>
                                        <select class="form-control" formControlName="screeningRoom">
                                            <option *ngFor="let option of allOptions" [value]="option">{{option}}</option>
                                        </select>
                                        <!-- <div class="invalid-feedback" style="min-width: 300px;" *ngIf="seances.controls[i]?.invalid && seances.controls[i]?.dirty">
                                            <p *ngIf="seances.controls[i]?.errors?.required">title is required!</p>
                                        </div> -->
                                    </div>
                                
                                    <div class="col-md-4 form-group">
                                        <label>Date</label>
                                        <input type="text"
                                             placeholder="Datepicker"
                                             class="form-control"
                                             bsDatepicker
                                             formControlName="time">
                                    </div>

                                    <div class="col-md-4 form-group mt-1">
                                        <!-- <label>Time</label> -->
                                        <timepicker formControlName="time" [showMeridian]="false" [minuteStep]="1"></timepicker>
                                    </div>
                                </div>



                                <!-- <input class="form-control" [formControlName]="i" type="text" placeholder="Enter your title" [ngClass]="{
                                    'is-valid': seances.controls[i]?.valid && seances.controls[i]?.dirty,
                                    'is-invalid': seances.controls[i]?.invalid && seances.controls[i]?.dirty}">
                                <div class="invalid-feedback" style="min-width: 300px;" *ngIf="seances.controls[i]?.invalid && seances.controls[i]?.dirty">
                                    <p *ngIf="seances.controls[i]?.errors?.required">title is required!</p>
                                </div> -->


                            </div>
                        </div>

                        <!-- <label>Title:</label>
                        <div *ngFor="let seance of modelForm.value.seances">
                            <input class="form-control" formArrayName="seances" type="text" placeholder="Enter your title" [ngClass]="{
                                'is-valid': modelForm.get('seances[0]')?.valid && modelForm.get('seances[0]')?.dirty,
                                'is-invalid': modelForm.get('seances[0]')?.invalid && modelForm.get('seances[0]')?.dirty}">
                            <div class="invalid-feedback" style="min-width: 300px;" *ngIf="modelForm.get('seances[0]')?.invalid && modelForm.get('seances[0]')?.dirty">
                                <p *ngIf="modelForm.get('seances[0]')?.errors?.required">title is required!</p>
                                <p *ngIf="modelForm.get('seances[0]')?.errors?.minlength">title has at least 5 characters!</p>
                            </div>
                        </div> -->

                        
                    </div>

                    <div class="text-center m-5">
                        <button type="button" class="btn btn-dark" (click)="addAnotherSeance()">Add Another Seance</button>
                    </div>

                    <!-- <div class="form-group">
                        <label style="min-width: 300px">Choose leading question:</label>

                        <select class="form-control" formControlName="question" [ngClass]="{
                            'is-valid': modelForm.get('question')?.valid && modelForm.get('question')?.dirty,
                            'is-invalid': modelForm.get('question')?.invalid && modelForm.get('question')?.dirty}">
                            <option style="width: 500px;" hidden selected></option>
                            <option *ngFor="let question of questions" [value]="question">{{question}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Answer:</label>
                        <input class="form-control" formControlName="answer" type="text" placeholder="Enter your Answer" [ngClass]="{
                            'is-valid': modelForm.get('answer')?.valid && modelForm.get('answer')?.dirty,
                            'is-invalid': modelForm.get('answer')?.invalid && modelForm.get('answer')?.dirty}">
                        <div class="invalid-feedback" style="min-width: 300px;" *ngIf="modelForm.get('answer')?.invalid && modelForm.get('answer')?.dirty">
                            <p *ngIf="modelForm.get('answer')?.errors?.required">Answer is required!</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

        <!-- <div class="text-center mt-3 mb-5">
            <a class="btn btn-secondary btn-lg disabled" role="button" *ngIf="modelForm.invalid" aria-disabled="true">Login</a>
            <button type="button" class="btn btn-primary btn-lg" *ngIf="modelForm.valid" (click)="login()">Login</button>
            <div *ngIf="badLogin">
                <p class="warning">Login or answer is incorrect! Mayby you choose other question?</p>
            </div>
        </div> -->

        <!-- <div class="info-register">
            You don't have account? <a (click)="changeToRegister()" routerLinkActive="active">Register now!</a> 
        </div> -->
    </form>
</div>  
<!-- 
<form [formGroup]="form">
    <div formArrayName="cities">
      <div *ngFor="let city of cities.controls; index as i">
        <input [formControlName]="i" placeholder="City">
      </div>
    </div>
    <button>Submit</button>
  </form> -->

  <!-- <div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group">

        <label for="MovieGenre">Genre</label>
        <select class="form-control" [(ngModel)]="screeningRoom" (input)="show()">
            <option *ngFor="let option of allOptions" [value]="option">{{option}}</option>
        </select>

        <input type="text"
             placeholder="Datepicker"
             class="form-control"
             bsDatepicker
             [(ngModel)]="time"
             (input)="show()">

        <timepicker [(ngModel)]="time" [showMeridian]="false" [minuteStep]="1" (input)="show()"></timepicker>

    </div>
  </div> -->

  <!-- <timepicker [(ngModel)]="mytime" [showMeridian]="false" [minuteStep]="1"></timepicker> -->
<!-- <pre class="alert alert-info">Time is: {{mytime}}</pre> -->