.card {
    border-radius: 10px;
    background-color: white;
    height: 100%;
}

img {
    width: 100%;
    height: auto;
}

.color{
    background-color: white;
}

.rate-reservation{
    height: 48.5%;
    border-radius: 10px;
}

.seance-term {
    padding: 17px;
    background-color: #eae1e1;
    border-radius: 10px;
    border-width: thick;
    cursor: pointer;
    height: 60px;
}

.cursor-disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }

.btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 15px; 
    text-align: center; 
} 

.buttonShape {
    width: 35px; 
    height: 35px; 
    margin: 0;
    padding: 0;
}

.btn-secondary:hover,.btn-secondary:focus,.btn-secondary:active, 
.btn-secondary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}